@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-from-left-and-standby {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
.animate-slide-from-left {
    animation: slide-from-left-and-standby 1s ease-out forwards;
  }
  
@keyframes slide-from-right-and-standby {
    0% {    
        transform: translateX(100%);
        opacity:0; 
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-from-right {
    animation: slide-from-right-and-standby 1s ease-out forwards;
}

@keyframes animate-slide-from-bottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-from-bottom {
    animation: animate-slide-from-bottom 1s ease-out forwards;
  }
  
/* @keyframes animate-slide-from-top {
  0% {
    transform:translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-from-top {
  animation: animate-slide-from-top 1s ease-out forwards;
} */